*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}



:root{
    --bg-color: #10101a;
    --main-color: #01b464;
    --2nd-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 24px 14%;
    transition: .3s;

}



.logo{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600; 
}
span{
    color: var(--main-color);
    letter-spacing: 1px;
}

.navbar{
    display: flex;
}
.navbar a{
    text-align: center;
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    
}
.navbar a:hover{
    color: var(--main-color);
    border: solid var(--text-color);
    box-shadow: 1px 1px 10px var(--main-color);
}
#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


section{
    padding: 120px;
}

.center{
    text-align: center;
}

img{
    max-width: 100%;
    width: 150px;
    height: auto;
    margin: 5px;
}


h5{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1rem;
    text-align: center;
}



.job-info{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.job{
    text-align: center;
    margin: 10px;
    background: #0b0b13;
    padding: 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .40s;
    color: var(--main-color);
}
.job:hover{
    box-shadow: 1px 1px 10px var(--main-color);
    border-radius: 50px 50px;
}


.copyright{
    text-align: center;
    padding: 30px;
    color: var(--2nd-main-color);
    background-color: #0b0b13;
    margin-top: 3rem;
    line-height: 1.8rem;
}
.copyright a{
    color: var(--main-color);
}


@media (max-width: 795px){

    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #0b0b13;
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
        text-align: left;
        transition: 0.2s ease;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }
    .navbar.active{
        top: 100%;
    }
    
    section{
        padding: 80px 30px 30px 30px;
    }

    .img{
        max-width: 100%;
        width: 250px;
        height: auto;
    }

    h5{
        font-size: 1.2rem;
    }


}
